<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.faceschool.demo.mapper.ClassstuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.faceschool.demo.entity.Classstu">
        <id column="id" property="id" />
        <result column="classid" property="classid" />
        <result column="studentid" property="studentid" />
    </resultMap>

</mapper>
