<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.faceschool.demo.mapper.RecomMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.faceschool.demo.entity.Recom">
        <id column="id" property="id" />
        <result column="starttime" property="starttime" />
        <result column="coursename" property="coursename" />
        <result column="studentcontent" property="studentcontent" />
        <result column="studentname" property="studentname" />
        <result column="teachername" property="teachername" />
        <result column="teachercontent" property="teachercontent" />
    </resultMap>

</mapper>
